body {
  margin: 0;
  font-family: Arial, Helvetica, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.discordLoginBtn {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}

.discordLoginBtn a {
  background: #7289da;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
}

.discordLoginBtn a:hover {
  background: #6473ac;

}

.card {
  background-color: #202020;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(49, 48, 59);
  overflow: hidden;
  max-height: 30px;
}

/* Style the links inside the navigation bar */
.topnav-item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(140, 182, 207);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #436689;
  color: white;
}

.start-page-wrapper {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px
}

.search-box {
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  width: calc(40vw + 70px);
  left: 50%;
  margin:auto
 }
 
 .search-box:hover > .search-btn {
  background: white;
  color: black;
 }
 
 .search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .search-btn > i {
  font-size: 25px;
 }
 
 .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  font-weight: bold;
  width: 40vw;
  padding: 0 6px;
 }

 .panel-sidebar {
   background-color: #1c2027;
   color: white;
   z-index:3;
   width: 300px
 }

 .panel-sidebar-btn-active{
   background-color: #436689;
 }

/* custom scrollbar */

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color:#000;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: #1c2027
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color:#1c2027
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color:#0f0f1a;
  border-radius:16px;
  border:5px solid #1c2027
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#11111d;
  border:4px solid #1c2027
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

/* div box */
body
.scrollbar {
  height: calc(85vh - 30px);
  min-width: 150px;
  overflow-y: scroll}
  .overflow{
    height: 100%px;
  }

.panel-sidebar-welcome{
  height: 15vh;
  overflow: hidden;
}

.infoBodyContainer{
    width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.infoBody{
  font-size: 20px;
  padding: 20px;
  color: #ddd;
  margin: 0 auto;
  text-align: left;
}


.panel-contents{
  position:fixed; 
  top:60px;
  left:330px;
  height: calc(100vh - 60px - 30px);
  width: calc(100vw - 330px - 30px);
  z-index: 1;
  background-color: #1c2027;
  color: white;
}


/* custom scrollbar for panel items */

/* total width */
.scrollbar-panel-content::-webkit-scrollbar {
  background-color:#000;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar-panel-content::-webkit-scrollbar-track {
  background-color: #1c2027
}
.scrollbar-panel-content::-webkit-scrollbar-track:hover {
  background-color:#1c2027
}

/* scrollbar itself */
.scrollbar-panel-content::-webkit-scrollbar-thumb {
  background-color:#0f0f1a;
  border-radius:16px;
  border:5px solid #1c2027
}
.scrollbar-panel-content::-webkit-scrollbar-thumb:hover {
  background-color:#11111d;
  border:4px solid #1c2027
}

/* set button(top and bottom of the scrollbar) */
.scrollbar-panel-content::-webkit-scrollbar-button {display:none}

/* div box */
body
.scrollbar-panel-content {
  height: calc(100vh - 60px - 30px);
  min-width: 150px;
  overflow-y: scroll}
  .overflow{
    height: 100%px;
  }




  /* custom scrollbar for main pages */

/* total width */
.scrollbar-app::-webkit-scrollbar {
  background-color:#000;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar-app::-webkit-scrollbar-track {
  background-color: #141516
}
.scrollbar-app::-webkit-scrollbar-track:hover {
  background-color:#141516
}

/* scrollbar itself */
.scrollbar-app::-webkit-scrollbar-thumb {
  background-color:#2e2e44;
  border-radius:16px;
  border:5px solid #141516
}
.scrollbar-app::-webkit-scrollbar-thumb:hover {
  background-color:#2e2e44;
  border:4px solid #141516
}

/* set button(top and bottom of the scrollbar) */
.scrollbar-app::-webkit-scrollbar-button {display:none}

/* div box */
body
.scrollbar-app {
  height: calc(100vh - 30px);
  min-width: 150px;
  overflow-y: scroll}
  .overflow{
    height: 100%px;
  }


  .start-page-links-wrapper {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
  }

  .start-page-links-wrapper li {
    display:inline;
    padding: 20px;
    margin: 10px;
    max-height: 150px;
    
  }
  .start-page-table{
    width: 100%;
    table-layout: fixed;
    border: 20px
  }

  .start-page-table td {
    padding: 5px;

    
    max-height: 150px;
  }


  .table {
    margin: 0;
    
  }

  .start-card {
    background: #262a30;
    color: #ccc;
    border-radius: 6px;
    padding: 10px
  }

  .big-clock {
    font-size: 100px;
  }

  /* custom scrollbar for start page lists */

/* total width */
.scrollbar-start-list::-webkit-scrollbar {
  background-color:#000;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar-start-list::-webkit-scrollbar-track {
  background-color: #262a30
}
.scrollbar-start-list::-webkit-scrollbar-track:hover {
  background-color:#262a30
}

/* scrollbar itself */
.scrollbar-start-list::-webkit-scrollbar-thumb {
  background-color:#202327;
  border-radius:16px;
  border:5px solid #262a30
}
.scrollbar-start-list::-webkit-scrollbar-thumb:hover {
  background-color:#5d6166;
  border:4px solid #262a30
}

/* set button(top and bottom of the scrollbar) */
.scrollbar-start-list::-webkit-scrollbar-button {display:none}

/* div box */
body
.scrollbar-start-list {
  height: 200px;
  text-align: left;
  overflow-y: scroll;
 
}
  .overflow{
    height: 100%;
  }

  /* Tooltip container */
.tooltip {
  position: initial;
  display: block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
  display: block;
  width: 300px;
  bottom: 100%;
  left: 50%; 
  margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.linksWrapper{
  position: relative;
}